DB_HOST=postgres
DB_PORT=5432
DB_NAME=authcore
DB_USER=authcore_user
DB_PASSWORD=change_me

JWT_KEY=change-me-min-32-chars
JWT_ISSUER=authcore-api
JWT_AUDIENCE=authcore-clients

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8080
